DesignPatterns/StrategyPattern/obj/
DesignPatterns/DesignPatterns/obj/
DesignPatterns/NullPattern/obj/
DesignPatterns/SingletonPattern/obj/
DesignPatterns/SingletonPattern/bin/
DesignPatterns/ObserverPattern/obj/
DesignPatterns/ObserverPattern/bin/
DesignPatterns/InteratorPattern/obj/
DesignPatterns/StrategyPattern/bin/
DesignPatterns/DecoratorPattern/obj/
DesignPatterns/DecoratorPattern/bin/
DesignPatterns/AdapterPattern/bin/
DesignPatterns/AdapterPattern/obj/
DesignPatterns/NullPattern/bin/
